.DS_Store
.idea/
memo.md

# Created by .ignore support plugin (hsz.mobi)
### Terraform template
# Compiled files
*.tfstate
*.tfstate.*.backup
*.tfstate.backup

# Module directory
.terraform/

.terraform.tfstate.lock.info

# Variable values for development
terraform.tfvars
